{% extends "base.html" %}

{% block content %}
<main class="main main--content">
<dl>
<div class="contact">
<dt> Email: </dt>
    <dd class="contact__details">
    <a class="contact__link" href="mailto:saigopal.maddi@gmail.com">
        saigopal.maddi[at]gmail.com
    </a>
    </dd>
</div>
    <div class="contact">
<dt> GitHub: </dt>
    <dd class="contact__details">
    <a class="contact__link" href="https://github.com/saigopalmaddi91">
        @saigopalmaddi91
    </a>
    </dd>
        </div>
    <div class="contact">
<dt> LinkedIn: </dt>
    <dd class="contact__details">
    <a class="contact__link" href="https://www.linkedin.com/in/venkata-surya-sai-gopal-maddi-a48342a2/">
        SaigopalMaddi
    </a>
    </dd>
</div>
</dl>
</main>
{% endblock %}